body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 12% 68%;
    grid-template-areas:
        "head head"
        "nav nav"
        "aside section";
    font-family: Tahoma;
    background: rgba(173, 216, 230, .5);
}
heading {
    grid-area: head;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20pt;
}
#nys1 {
    width: 20%;
}
#nys2 {
    width: 20%;
}
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section {
    grid-area: section;
}
aside {
    grid-area: aside;
    position: relative;
    padding: 5px;
}
#signUp {
    position: absolute;
    bottom: 0;
}
#sports {
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    position: relative;
    top: 20px;
    border-spacing: 5px 5px;
}
td {
    border: 1px solid black;
    text-align: center;
    width: 150px;
}
a {
    font-size: 12pt;
    color: blue;
}
a.mainLink {
    font-size: 14pt;
}
a.mainLink:hover {
    font-size: 18pt;
}

